<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stadium(); as stadiumRef) {
      <div>
        <h2 data-cy="stadiumDetailsHeading"><span jhiTranslate="diamondLeagueApp.stadium.detail.title">Stadium</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ stadiumRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="diamondLeagueApp.stadium.name">Name</span></dt>
          <dd>
            <span>{{ stadiumRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="diamondLeagueApp.stadium.imagePath">Image Path</span></dt>
          <dd>
            <span>{{ stadiumRef.imagePath }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/stadium', stadiumRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
